In [1]:
import pandas as pd
import numpy as np
import haversine as hs
import folium

In [2]:
import pandas as pd 
from pandas import ExcelWriter
from pandas import ExcelFile

In [3]:
data = pd.read_excel('LatLong1.xlsx')
data.head()

             CityState1        LAT        LONG
0      Sunset Beach, CA  33.716666 -118.076906
1      Verdugo City, CA  34.211452 -118.241036
2           Jacumba, CA  32.648992 -116.152565
3           Potrero, CA  32.626231 -116.610020
4  Palomar Mountain, CA  33.346808 -116.853215

In [4]:
LatLon1= pd.read_excel("LatLong1.xlsx")
LatLon2= pd.read_excel("LatLong2.xlsx")

In [5]:
# concatenating lat and long to create a consolidated location as accepted by havesine function

LatLon1['coor']= list(zip(LatLon1.LAT, LatLon1.LONG))
LatLon2['coor']= list(zip(LatLon2.LAT, LatLon2.LONG))

In [6]:
LatLon1.head()

             CityState1        LAT        LONG                      coor
0      Sunset Beach, CA  33.716666 -118.076906  (33.716666, -118.076906)
1      Verdugo City, CA  34.211452 -118.241036  (34.211452, -118.241036)
2           Jacumba, CA  32.648992 -116.152565  (32.648992, -116.152565)
3           Potrero, CA  32.626231 -116.610020   (32.626231, -116.61002)
4  Palomar Mountain, CA  33.346808 -116.853215  (33.346808, -116.853215)

In [7]:
# defining a  function to calculate distance between two locations 
# loc1= location of an existing Zip1
# loc2= location of an existing zip2

def distance_from(loc1,loc2): 
    dist=hs.haversine(loc1,loc2)
    return round(dist,2)

In [ ]:
# running a loop which will parse customers location one by one to distance from function 
for _,row in LatLon2.iterrows():
    LatLon1[row.CityState2]=LatLon1['coor'].apply(lambda x: distance_from(row.coor,x))

/tmp/ipykernel_951003/1913505894.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  LatLon1[row.CityState2]=LatLon1['coor'].apply(lambda x: distance_from(row.coor,x))

In [ ]:
LatLon1.head()

In [28]:
df["LatLon1"]= LatLon1

NameError: name 'df' is not defined

In [29]:
LatLon1.to_csv("LatLon1.csv")